service firebase.storage {
  match /b/{bucket}/o {
    match /{uid}/{imageId} {
      allow read: if request.auth!=null;
      allow create: if request.auth.uid == uid;
    }
  }
}
